<?xml version="1.0" encoding="UTF-8"?>
<config>
	<projects>
		<pix>
			<version>0.0.4.2</version>
			<minver>0.0.3.7</minver>
		</pix>
		<pixsocks>
			<version>0.0.4.2</version>
			<minver>0.0.3.7</minver>
		</pixsocks>
		<twocaptcha>
			<version>0.0.1.3</version>
			<minver>0.0.1.2</minver>
		</twocaptcha>
		<captcha24>
			<version>0.0.0.4</version>
			<minver>0.0.0.1</minver>
		</captcha24>
		<eat>
			<version>0.0.0.5</version>
			<minver>0.0.0.0</minver>
		</eat>
	</projects>
	
	<dateUrls>
		<time>http://date.comeze.com/date.php</time>
		<time>http://xsoftcaptcha.com/date.php</time>
		<time>http://xuanduc987.byethost7.com/date.php</time>
	</dateUrls>
	
	<announceUrl>http://captchapro.googlecode.com/git/announce.txt</announceUrl>
</config>
