<?xml version="1.0" encoding="UTF-8"?>
<config>
	<projects>
		<pix>
			<version>0.0.2.5</version>
			<minver>0.0.1.8</minver>
		</pix>
		<twocaptcha>
			<version>0.0.0.6</version>
			<minver>0.0.0.2</minver>
		</twocaptcha>
		<captcha24>
			<version>0.0.0.2</version>
			<minver>0.0.0.1</minver>
		</captcha24>
	</projects>
	
	<dateUrls>
		<time>http://date.comeze.com/date.php</time>
		<time>http://xsoftcaptcha.com/date.php</time>
		<time>http://xuanduc987.byethost7.com/date.php</time>
	</dateUrls>
	
	<announceUrl>http://captchapro.googlecode.com/git/announce.txt</announceUrl>
</config>
